# =========================
# SERVER CONFIG
# =========================
PORT=5000
NODE_ENV=development

# =========================
# DATABASE
# =========================
MONGO_URL=your_mongodb_connection_string

# Example:
# mongodb://127.0.0.1:27017/vintageboutique
# or
# mongodb+srv://username:password@cluster.mongodb.net/vintageboutique

# =========================
# JWT
# =========================
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRE=30d

# =========================
# CLIENT
# =========================
CLIENT_URL=http://localhost:5173

# =========================
# BACKEND
# =========================
BASE_URL=http://localhost:5000

# =========================
# EMAIL (Optional)
# =========================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_google_app_password

# =========================
# ADMIN (Optional)
# =========================
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_admin_password